* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "radar radar radar"
        "main main main"
        "footer footer footer";
}

.navbar {
    grid-area: nav;
    display: flex;
    color: greenyellow;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(93, 92, 92);
    margin-bottom: 10px;
}

.navbar .logo {
    background-color: greenyellow;
    border-radius: 50px;
    font-size: larger;
    padding: 5px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.navbar .logo:hover {
    transform: rotate(180deg);

}

.navbar button {
    background-color: rgb(46 42 42);
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 15px;
    padding: 8px;
}

.navbar button:hover {
    background-color: green;
}

.radar-container {
    grid-area: radar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46 42 42);
    border: 2px solid gray;
    height: 50vh;
    border-radius: 10px;
}

.radar-container:hover {
    border-color: greenyellow;
}

.radar {
    grid-area: radar-round;
    overflow: hidden;
    margin-left: 20px;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
    border: 2px solid rgb(125, 203, 8);
}

.sweep {
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 123px;
    height: 123px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.info {
    margin-right: 240px;
}

.info h2 {
    font-size: xxx-large;
    color: greenyellow;
}

.info p {
    color: gray;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 100px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.main-buttons {
    grid-area: 1 / 1 / 2 / 4;
    /* display: flex;
    justify-content: flex-start; */
}

.main-buttons button {
    color: white;
    background-color: rgb(46 42 42);
    border: 2px solid gray;
    padding: 15px;
    border-radius: 30px;
    margin: 20px 0;
    margin-right: 20px;
    font-size: large;
}

.main-buttons button:hover {
    background-color: rgb(2, 69, 2);
    border-color: rgb(82, 125, 16);
}

/* .main-cards {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */

/*  */

.card1 {
    grid-area: 2 / 1 / 3 / 2;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    /* width: 25%; */
    border-left: 3px solid greenyellow;
}

.card1 .littel-box {
    color: rgb(172, 55, 55);
    border: 1px solid rgb(234, 129, 129);
    width: 40%;
    padding: 5px;
}

.card2 .littel-box {
    color: rgb(157, 172, 55);
    border: 1px solid rgb(173, 179, 74);
    width: 40%;
    padding: 5px;
}

.card3 .littel-box {
    color: greenyellow;
    border: 1px solid greenyellow;
    width: 40%;
    padding: 5px;
}

.card4 .littel-box {
    color: darkorange;
    border: 1px solid darkgoldenrod;
    width: 40%;
    padding: 5px;
}


.card2 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(46 42 42);
    border: 2px solid gray;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    /* width: 25%; */
    border-left: 3px solid rgb(188, 188, 3);

}

.card1:hover {
    border-color: greenyellow;
    transform: scale(1.2);
    transform: translate(-30px, -30px);
}

.card2:hover {
    border-color: greenyellow;
    transform: scale(1.2);
    transform: translate(-30px, -30px);
}

.card3:hover {
    border-color: greenyellow;
    transform: scale(1.2);
    transform: translate(-30px, -30px);
}

.card4:hover {
    border-color: greenyellow;
    transform: scale(1.2);
    transform: translate(-30px, -30px);
}

.card3 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(46 42 42);
    border: 2px solid gray;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    /* width: 25%; */
    border-left: 3px solid greenyellow;

}

.card4 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: rgb(46 42 42);
    border: 2px solid gray;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    width: 25%;
    border-left: 3px solid rgb(188, 188, 3);

}

.main-cards:nth-child(odd) {
    border-left: 2px solid rgb(116, 116, 4);
}

.main-cards .headline {
    color: white;
}

.main-cards .top-right {
    color: gray;
}

.main-cards .percent {
    color: greenyellow;
}
.card {
    background-color: white;
}

.buttom-main {
    grid-area: 3 / 1 / 4 / 5;
    background-color: rgb(153, 29, 29);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(229, 85, 85);
    color: rgb(229, 85, 85);
}

.buttom-main:hover {
    transform: scale(1.2);
}

footer {
    grid-area: footer;
    border-top: 2px solid gray;
    margin: 20px;
}

footer ul {
    margin: 20px;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer li:hover {
    color: greenyellow;
    transform: scale(1.2);
}

#color {
    color: greenyellow;
}